## Unit 2 - Subsetting DataFrames and Series

In [2]:
import pandas as pd

In [50]:
df = pd.read_csv('../data/airbnb_input.csv', index_col='room_id')

On df DataFrame you can find data about Airbnb rooms in Lisbon.

Go ahead and preview it!

In [5]:
# code to preview df

## Row selection

### Selecting rows by index position - iloc

* With function [iloc](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) you can select specific rows from a DataFrame.
* In order to specify the rows you want to select you can use, for instance, the row position (integer starting from 0) or a list of row positions.

Here, we are selecting the first row and getting it as a pandas Series:

In [6]:
df.iloc[0]

host_id                           14455
room_type               Entire home/apt
neighborhood                      Belém
reviews                               8
overall_satisfaction                  5
accommodates                          2
bedrooms                              1
price                                57
Name: 6499, dtype: object

But you can also get a single row as a DataFrame:

In [7]:
df.iloc[[0]]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0

Now try to get rows 0, 1 and 3, using iloc:

In [8]:
# code to select rows 0, 1 and 3 from df

Array slices also work, so try to select all the rows from position number 2 to position number 7:

In [9]:
# code to select rows [2, 7] from df

### Selecting rows by index name - loc

* With function [loc](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) you can select specific rows from a DataFrame, like with iloc.
* The difference here is that you specify the rows to select using the rows' indexes.

Here, we're selecting the row that corresponds to room 17031 (with index 17031):

In [29]:
df.loc[17031]

host_id                           66015
room_type               Entire home/apt
neighborhood                   Alvalade
reviews                               0
overall_satisfaction                  0
accommodates                          2
bedrooms                              1
price                                46
Name: 17031, dtype: object

Now, if you select a row for an index that doesn't exist you'll get a KeyError:

In [30]:
df.loc[[1]]

KeyError: 'None of [[1]] are in the [index]'

Try to select the rows that correspond to rooms 17031 and 25659:

In [27]:
# code to select rooms 17031 and 25659

Now check what happens when you pass a boolean array to loc!

In [35]:
# code to call loc with a boolean array

## Column selection

### Selecting columns by name - dot, brackets

You can select columns using dot notation, like this:

In [37]:
df.room_type

room_id
6499     Entire home/apt
17031    Entire home/apt
25659    Entire home/apt
29248    Entire home/apt
29396    Entire home/apt
Name: room_type, dtype: object

Or using brackets, like this:

In [38]:
df['room_type']

room_id
6499     Entire home/apt
17031    Entire home/apt
25659    Entire home/apt
29248    Entire home/apt
29396    Entire home/apt
Name: room_type, dtype: object

Now, try to select column room_type from df, but getting the result as a DataFrame instead of a Series:

In [39]:
# code to get column room_type from df as a DataFrame

And now try to select columns room_type and neighborhood:

In [40]:
# code to select columns room_type and neighborhood

If you're feeling confident, here's a little challenge: select column room_type using loc!

In [41]:
# code to select column room_type using loc

## Mask function

[Mask](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mask.html) function can be used to "hide" the rows that verify a certain condition:

In [42]:
df.mask(df.overall_satisfaction == 5.0)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17031,66015.0,Entire home/apt,Alvalade,0.0,0.0,2.0,1.0,46.0
25659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29248,125768.0,Entire home/apt,Santa Maria Maior,225.0,4.5,4.0,1.0,58.0
29396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Where function

And with [where](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html) function, you can hide the rows that __don't__ verify a certain condition:

In [43]:
df.where(df.overall_satisfaction == 5.0)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455.0,Entire home/apt,Belém,8.0,5.0,2.0,1.0,57.0
17031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25659,107347.0,Entire home/apt,Santa Maria Maior,63.0,5.0,3.0,1.0,69.0
29248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29396,126415.0,Entire home/apt,Santa Maria Maior,132.0,5.0,4.0,1.0,67.0

## Filter data

* You can also use conditions inside brackets to filter data from the DataFrame
* When you do it you get a DataFrame that has a different shape from the initial one
* While with mask/filter, the DataFame shape is the same, and you just get NaNs in the cells that verify/don't verify the conditions

Here we're selecting only the rows of rooms in the Alvalade neighborhood:

In [48]:
df[df.neighborhood == 'Alvalade']

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
72807,378525,Private room,Alvalade,1,0.0,1,1.0,29.0
108058,557442,Private room,Alvalade,24,5.0,1,1.0,27.0
143882,697596,Entire home/apt,Alvalade,0,0.0,3,2.0,577.0

## Selection based on data types

Check DataFrame's data types by using the class attribute dtypes:

In [51]:
df.dtypes

host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

In order to select columns based on their data type, use the function select_dtypes:

In [56]:
df.select_dtypes(include=['float64'])

         overall_satisfaction  bedrooms  price
room_id
6499                      5.0       1.0   57.0
17031                     0.0       1.0   46.0
25659                     5.0       1.0   69.0
29248                     4.5       1.0   58.0
29396                     5.0       1.0   67.0

## Writing data to files

To output your processed data to a file, pandas has many function to help you with that:
* [to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)
* [to_json](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html)
* [to_excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

Check more [here](https://pandas.pydata.org/pandas-docs/stable/io.html) !

Here, we're exporting df to a csv file called airbnb_output.csv on the data directory of this unit:

In [58]:
df.to_csv('../data/airbnb_output.csv')