# DataFrames and Series

### Enter Pandas! 
#### Pandas is a  Python library has fast become the standard for data manipulation. It unifies the most common data science workflows, allowing us to easily work with tabular data (data represented as rows and columns). 
#### In Pandas, this data structure is called a DataFrame, and each column of the DataFrame is a Series.

#### Let's take a look!

(Pandas allows us to store mixed data types, and handle missing values as a custom object, NaN (Not a Number).)

#### First, we will import Pandas. As a convention, it is imported as "pd".

In [7]:
import pandas as pd

#### We can read text files as DataFrames! The most common type of file representing tabular data you'll see is ".csv". This stands for "Comma Separated Values".
#### Lucky for us, Pandas does all the heavy lifting, turning these files into elegant DataFrames. For this, we'll use `read_csv()`.

In [8]:
df = pd.read_csv('data/loans.csv')

#### Now, how we take a look at this dataset?
#### The DataFrame object has a bunch of useful methods, and the one we'll be using now is the `.head()` method. It stands for "header", showing us the first five rows of the DataFrame.

In [9]:
df.head()

,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,loan_status,purpose,title,dti,delinq_2yrs,date,Reference number
0,26125.0,36 months,14.49%,899.13,Medical Supply Technician,10+ years,RENT,57000.0,Fully Paid,debt_consolidation,Debt consolidation,32.27,0.0,01/08/2014,98612494
1,5000.0,36 months,7.90%,156.46,STAFF WRITER,4 years,RENT,35000.0,Fully Paid,credit_card,Credit card refinancing,15.56,0.0,01/01/2014,84238224
2,8250.0,36 months,9.67%,264.93,Project manager,< 1 year,MORTGAGE,92000.0,Fully Paid,debt_consolidation,Debt consolidation,12.27,0.0,01/04/2014,42731556
3,16000.0,60 months,13.33%,366.76,National Director of Franchise Growth,2 years,MORTGAGE,104000.0,Fully Paid,home_improvement,Home improvement,16.78,0.0,01/08/2015,46024870
4,15000.0,36 months,15.61%,524.48,Manager of Training Programs,8 years,MORTGAGE,80000.0,Fully Paid,debt_consolidation,Debt consolidation,11.81,0.0,01/08/2014,93257050